/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}
.caption.login{
    height: 170px;
}
.thumbnail.login{
    width: 200px;
    margin: 0 auto;
}
.caption.add-item{
    height: 200px;
}
.thumbnail.add-item{
    width: 200px;
    margin: 0 auto;
}


.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    margin-bottom: 10px;
}
.ratings input{
    width: 100px;
}
.ratings button{
    height: 26px;
    padding:0 10px;
    line-height: 25px;
    margin-top: 0;
    margin-left: 10px;
}

.thumbnail {
    padding: 0;
    cursor: pointer;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.login-body input, button{
    margin-top: 5px;
}